<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application with Node, Express, Vue and MongoDB</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="app" class="py-12">
        <h1 class="text-lg font-bold underline text-center mb-3">Todos</h1>
        <div class="flex justify-around">
            <div>
                <div class="flex justify-end">
                    <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                        <button class="z-10 block p-4 text-green-700 transition-all bg-green-100 border-2 border-white rounded-full active:bg-green-50 hover:scale-110 focus:outline-none focus:ring" type="button">
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  />
                </svg>
              </button>
                    </td>
                </div>
                <div class="overflow-hidden overflow-x-auto border border-gray-100 rounded">
                    <table class="min-w-full text-sm divide-y divide-gray-200">
                        <thead>
                            <tr class="bg-gray-50">
                                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">
                                    Event
                                </th>
                                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">
                                    Date of Birth
                                </th>
                                <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">
                                    @handle
                                </th>
                            </tr>
                        </thead>

                        <tbody class="divide-y divide-gray-100">
                            <tr v-for="(list, index) in data" ::key="index">
                                <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                                    <div class="relative">
                                        <textarea class="w-full p-3 mt-1 text-sm border-2 border-gray-200 rounded">
{{list.item}}</textarea
                      >
                    </div>
                  </td>
                  <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                    24/05/1995
                  </td>
                  <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                    <div class="flex items-center -space-x-4 hover:space-x-1">
                      <button
                        class="z-20 block p-4 text-blue-700 transition-all bg-blue-100 border-2 border-white rounded-full active:bg-blue-50 hover:scale-110 focus:outline-none focus:ring"
                        type="button"
                      >
                        <svg
                          class="w-4 h-4"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                          />
                        </svg>
                      </button>

                      <button
                        class="z-30 block p-4 text-red-700 transition-all bg-red-100 border-2 border-white rounded-full hover:scale-110 focus:outline-none focus:ring active:bg-red-50"
                        type="button"
                      >
                        <svg
                          class="w-4 h-4"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            data: [],
          };
        },
        methods: {
          // Get Data
          async getData() {
            await fetch("/api/v1/todo")
              .then((response) => {
                return response.json();
              })
              .then((response) => {
                this.data = response;
              })
              .catch((error) => {
                console.log("An error occurred");
                console.log(error);
              });
          },
        },
        created() {
          this.getData();
        },
      }).mount("#app");
    </script>
  </body>
</html>